*.iml
.gradle
/.idea
/build
/local.properties
api-config.properties
keystore.properties
.DS_Store
/captures
.externalNativeBuild
app/google-services.json
ci_config/upload_config.sh
/reports
buildSrc/.gradle
buildSrc/build