*.iml
.gradle
/.idea
/build
/local.properties
api-config.properties
keystore.properties
.DS_Store
/captures
.externalNativeBuild
app/debug
app/src/main/google-services.json
app/src/debug/google-services.json
**/reports/*
**/build/*
buildSrc/.gradle
buildSrc/build
/ci-config/upload-config.sh
signing