storeFile=..path/to/debug/store
storePassword=storePassword
keyAlias=debug
keyPassword=keyPassword

releaseStoreFile=../path/to/release/keystore
releaseStorePassword=releaseStorePassword
releaseKeyAlias=release
releaseKeyPassword=releaseKeyPassword