<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.illiarb.tmdbclient.features.main">

    <application>

        <activity android:name=".MainActivity">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

    </application>

</manifest>