<!--suppress AndroidUnknownAttribute -->
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.illiarb.tmdbclient.dynamic.feature.account"
    split="@string/dynamic_feature_account">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/dynamic_feature_account">
        <dist:fusing include="false" />
    </dist:module>

</manifest>